<header
  class="sticky top-0 w-full h-16 shadow-lg bg-opacity-10 bg-neutral-50 dark:bg-neutral-700 backdrop-blur-lg backdrop-filter"
>
  <nav
    class="container flex items-center justify-between h-full py-3 mx-auto center"
  >
    <a
      [routerLink]="[path.home]"
      class="text-2xl font-bold no-underline cursor-pointer"
    >
      <span style="color:#1e0c0c" class="">WildFire-Detection-Progression</span>
    </a>

    <div class="flex items-center space-x-4">
      <button (click)="onClickSignOut()" class="btn btn-secondary">
        <!-- <svg
          class="w-6 h-6 mr-3"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
          ></path>
        </svg> -->
        SJSU
      </button>
    </div>
  </nav>
  <div class="items-center space-x-12 text-center">
    <!-- <br /> -->
    <!-- <span style="margin-top: 5px">Project Advisor - Dr. Jerry Gao</span> -->
    <br />
    <span> Hrushikesh Pokala, </span>
    <span> Preeti Khatri, </span>
    <span> Saroj Saran, </span>
    <span> Yogita Suryavanshi </span>
    <br />
  </div>
</header>
